<% if works.blank? %>
  <p class="m-3 alert alert-dark">まだWorkはありません</p>
<% else %>
  <% works.each do |work| %>
    <div class="py-2 px-4">
      <div class="row">
        <div class="col-4 d-flex align-items-center">
          <% unless work.user.is_public == true || current_user.following?(work.user) || work.user == current_user %>
            <%= link_to work_path(work) do %>
              <%= image_tag 'no_work_image.jpg', class: "work-index-image" %>
            <% end %>
          <% else %>
            <%= link_to work_path(work) do %>
              <%= image_tag work.work_images.first, class: "work-index-image" %>
            <% end %>
          <% end %>
        </div>
        <div class="col-8">
          <h3 class="mt-1">
            <span class="d-inline-block text-truncate">
              <%= link_to work.title, work_path(work), class: "text-light" %>
            </span>
          </h3>
          <div class="d-flex align-items-center mt-1">
            <%= link_to user_path(work.user), class: "text-decoration-none" do %>
              <%= image_tag work.user.get_profile_image(50, 50), class: "rounded" %>
            <% end %>
            <p class="ml-2 mt-1 text-truncate">
              <%= link_to user_path(work.user), class: "text-light" do %>
                <%= work.user.name %>
              <% end %>
              <%= render 'public/users/lock', user: work.user %>
            </p>
          </div>
          <p class="text-muted text-nowrap text-right mt-1">
            <%= work.created_at.strftime('%Y/%m/%d %H:%M') %>
          </p>
          <div class="d-flex justify-content-around text-muted">
            <div>
              <i class="fa-solid fa-comment"></i><%= work.comments_count %>
            </div>
            <div class="work-favorite-btn_<%= work.id %>">
              <%= render 'public/work_favorites/favorite-btn', work: work %>
            </div>
          </div>
        </div>
      </div>
    <hr color="#6c757d">
    </div>
  <% end %>
<% end %>