<% if works.blank? %>
  <p>データはありません</p>
<% else %>
  <% works.each do |work| %>
    <div class="row">
      <%= link_to work_path(work) do %>
          <%= image_tag work.get_work_image(200, 200) %>
      <% end %>
      <div class="col-8">
        <%= work.title %>
        <%= link_to user_path(work.user) do %>
          <%= image_tag work.user.get_profile_image(50, 50) %>
          <%= work.user.name %>
        <% end %>
        <%= work.created_at.strftime('%Y/%m/%d %H:%M') %>
        <div class="row">
          <i class="fa-solid fa-comment"></i><%#= work.comments.count %>
          <div class="work-favorite-btn_<%= work.id %>">
            <%= render 'public/work_favorites/favorite-btn', work: work %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>