<h1><%= work.title%></h1>
<% unless work.user.is_public == true || current_user.following?(@user) %>
  <p>非公開ユーザーによる投稿です。<br>
  閲覧するには投稿ユーザーをフォローしてください。</p>
<% else %>
  <%= image_tag work.work_image, style: "width: 100%;" %>
<% end %>
<p><%= work.created_at.strftime('%Y/%m/%d %H:%M') %></p>
  <%= link_to user_path(work.user) do %>
    <%= image_tag work.user.get_profile_image(50, 50) %>
    <%= work.user.name %>
  <% end %>
  <% unless work.user == current_user %>
    <div class="follow-btn_<%= work.user.id %>">
      <%= render "public/relationships/follow", user: work.user %>
    </div>
  <% end %>
<p id="tags">
  <%= render 'public/work_tags/tags', work: @work, tags: @tags %>
</p>
<div id="tag-btn">
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#tag-modal">
    <i class="fa-solid fa-tags"></i>
  </button>
</div>
<div class="row">
  <i class="fa-solid fa-reply"></i>
  <div class="comments-count">
    <%= @work.comments.count %>
  </div>
  <div class="work-favorite-btn_<%= work.id %>">
    <%= render 'public/work_favorites/favorite-btn', work: work %>
  </div>
</div>
<p><%= raw Rinku.auto_link(h(safe_join(work.caption.split("\n"),tag(:br)))) %></p>
<% if work.user == current_user %>
  <%= link_to work_path(work), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "削除しますか？" } do %>
    <i class="fa-solid fa-trash-can"></i>
  <% end %>
  <div id="work-btn">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#work-modal">
      Edit
    </button>
  </div>
<% end %>
<div class="comments">
  <%= render 'public/comments/comment', work: @work %>
</div>
<div id="comment-btn" data-toggle="modal" data-target="#comment-modal">
  <button type="button" class="btn btn-primary btn-sm">
    <i class="fa-solid fa-reply"></i>
  </button>
</div>
