<div class="modal fade" id="reply-modal_<%= reply_to.id %>" tabindex="-1"
      role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= form_with model: @chatter, url: reply_chatters_path, method: :post, local: false do |f| %>
      <div class="modal-header">
        <h5 class="modal-title">New Reply</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="chatters-error"></div>
        <div class="row">
          <div class="col-2">
            <%= link_to user_path(reply_to.user) do %>
              <%= image_tag reply_to.user.get_profile_image(50, 50) %>
            <% end %>
          </div>
          <div class="col-9">
            <div class="d-flex justify-content-between">
              <p class="font-weight-bold">
                <%= reply_to.user.name %>
                <%= render "public/users/lock", user: reply_to.user %>
              </p>
              <p><%= reply_to.created_at.strftime("%Y/%m/%d %H:%M") %></p>
            </div>
            <% unless reply_to.user.is_public == true || current_user.following?(reply_to.user) || reply_to.user == current_user %>
              <p class="alert alert-dark">非公開ユーザーによる投稿です。<br>
              閲覧するには投稿ユーザーをフォローしてください。</p>
            <% else %>
              <p class="text-break"><%= raw Rinku.auto_link(h(safe_join(reply_to.body.split("\n"), tag(:br)))) %></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group field">
          <%= f.text_area :body, placeholder: "声をかけてみよう！", rows: "5", class: "form-control reply-body" %>
        </div>
        <%= f.fields_for :reply do |i| %>
          <% i.hidden_field :reply_to_id, value: reply_to.id %>
        <% end %>
      </div>
      <div class="modal-footer actions">
        <%= f.submit "Reply", class: "btn btn-outline-success" %>
      </div>
      <% end %>

      <div class="modal-header">
        <h5 class="modal-title">Other Replies</h5>
      </div>
      <div class="modal-body overflow-scroll">
        <%= render "public/chatters/index", chatters: reply_to.reply_to_chatters %>
      </div>

    </div>
  </div>
</div>
