<% if chatter.favorited_by?(current_user) %>
  <p>
    <%= link_to chatter_chatter_favorites_path(chatter), method: :delete, remote: true, class: "text-warning" do %>
      <i class="fa-solid fa-star"></i>
    <% end %>
    <%= link_to favorite_users_chatter_path(chatter), class: "text-warning" do %>
      <%= chatter.chatter_favorites_count %>
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to chatter_chatter_favorites_path(chatter), method: :post, remote: true, class: "text-secondary" do %>
      <i class="fa-regular fa-star"></i>
    <% end %>
    <%= link_to favorite_users_chatter_path(chatter), class: "text-secondary" do %>
      <%= chatter.chatter_favorites_count %>
    <% end %>
  </p>
<% end %>