<% if chatter_favorites.blank? %>
  <p>データはありません</p>
<% else %>
  <% chatter_favorites.each do |favorite| %>
    <div class="row">
      <%= link_to user_path(favorite.chatter.user) do %>
        <%= image_tag favorite.chatter.user.get_profile_image(50, 50) %>
      <% end %>
      <div class="col-10">
        <%= favorite.chatter.user.name %>
        <%= favorite.chatter.created_at.strftime('%Y/%m/%d %H:%M') %>
        <%= raw Rinku.auto_link(h(safe_join(favorite.chatter.body.split("\n"),tag(:br)))) %>
        <div class="row">
          <i class="fa-solid fa-reply"></i><%#= favorite.chatter.replies.count %>
          <i class="fa-solid fa-bullhorn"></i><%= favorite.chatter.rechatters.count %>
          <div class="chatter-favorite-btn_<%= favorite.chatter.id %>">
            <%= render 'public/chatter_favorites/favorite-btn', chatter: favorite.chatter %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>