<div class="d-flex flex-wrap tab-content" id="tab-content">

  <div class="tab-pane" id="user-result">
    <% if users.blank? %>
      <p class="alert alert-dark m-3">ユーザー検索結果はありません</p>

    <% else %>

      <table class="table table-borderless d-md-none">
        <tbody>
          <% users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user) do %>
                  <%= image_tag user.get_profile_image(60, 60), class: "rounded user-search-profile-image" %>
                <% end %>
              </td>
              <td>
                <%= link_to user.name, user_path(user), class: "text-light" %>
              </td>
              <td>
                <% unless user == current_user %>
                  <div class="follow-btn_<%= user.id %>">
                    <%= render "public/relationships/follow", user: user %>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="col-12 d-md-flex no-md-wrap overflow-auto vw-100 pb-3">
        <% users.each do |user| %>
          <div class="d-none col-md-2 d-md-flex justify-content-around min-width-250">
            <div>
              <%= link_to user_path(user) do %>
                <%= image_tag user.get_profile_image(60, 60), class: "rounded user-search-profile-image" %>
              <% end %>
            </div>
            <div class="d-inline-block text-truncate mx-1">
              <%= link_to user.name, user_path(user), class: "text-light" %>
              <% unless user == current_user %>
                <div class="follow-btn_<%= user.id %>">
                  <%= render "public/relationships/follow", user: user %>
                </div>
              <% end %>
            </div>
            <div class="bg-secondary py-1 ml-2" style="width: 1px;"></div>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>

  <div class="col-12 col-md-6 tab-pane active" id="chatter-result" style="overflow-y: scroll; overflow-x: hidden; width: 100vw; height: 80vh">
    <div class="chatters">
      <%= render 'public/chatters/index', chatters: @chatters %>
    </div>
    <% unless @chatters.blank? %>
      <%= link_to_next_page @chatters, 'もっと見る', params: { type: :chatter }, remote: true, class: 'btn btn-outline-success btn-block more-link', id: 'more-chatter' %>
    <% end %>
  </div>

  <div class="col-12 col-md-6 tab-pane" id="work-result" style="overflow-y: scroll; overflow-x: hidden; width: 100vw; height: 80vh">
    <div class="works">
      <%= render 'public/works/index', works: @works %>
    </div>
    <% unless @works.blank? %>
      <%= link_to_next_page @works, 'もっと見る', params: { type: :work }, remote: true, class: 'btn btn-outline-success btn-block more-link', id: 'more-work' %>
    <% end %>
  </div>

</div>

<!--レスポンシブタブ-->
<ul class="fixed-bottom nav nav-tabs nav-fill d-md-none d-flex">
  <li class="nav-item">
    <a href="#chatter-result" class="nav-link active" data-toggle="tab">
      <i class="fa-solid fa-comment-dots"></i>
    </a>
  </li>
  <li class="nav-item">
    <a href="#user-result" class="nav-link" data-toggle="tab">
      <i class="fa-solid fa-users"></i>
    </a>
  </li>
  <li class="nav-item">
    <a href="#work-result" class="nav-link" data-toggle="tab">
      <i class="fa-solid fa-pen-fancy"></i>
    </a>
  </li>
</ul>

