<div class="container p-3">
  <div class="row">
    <div class="col-12 text-center">
      <%= image_tag 'Logo.png', class: "mw-100 m-5" %><br>
      <br>
      <p class="alert alert-light d-inline-block w-90 text-left">
        <strong>Chatter+Works</strong>とは...<br>
        ひとこと投稿機能【Chatter】とイラスト投稿機能【Work】を持つSNSです。
      </p>
    </div>
    <div class="col-12 my-3">
      <h2>１．ホーム画面構成</h2>
      <%= image_tag 'about1.png', class: "m-1 mw-100" %>
    </div>
    <div class="col-12 my-3">
      <h2>２．ホーム画面機能説明</h2>
      <%= image_tag 'about2.png', class: "m-1 mw-100" %>
    </div>
    <div class="col-12 my-3">
      <h2>３．検索機能</h2>
      <p class="alert alert-light d-inline-block w-90 text-left">
        本サービスの検索機能にはKeyword検索とWorkTag検索があります。<br>
        Keyword検索：ユーザー、Chatter、Workを対象にキーワード検索<br>
        WorkTag検索：Workを対象にタグ検索
      </p>
      <h5 class="m-1">①Keyword検索</h5>
      <%= image_tag 'about3.png', class: "mw-100" %>
      <h5 class="m-1">②WorkTag検索</h5>
      <%= image_tag 'about4.png', class: "mw-100" %>
    </div>
  </div>
</div>