<div class="container-fluid">
  <div class="d-flex">
    <div style="overflow: scroll; width: 100vw; height: 95vh">
      <%= link_to "更新", root_path, class: "btn btn-primary btn-block" %>
      <div class="chatters">
        <%= render 'public/chatters/index', chatters: @chatters %>
      </div>
    </div>
    <div style="overflow: scroll; width: 100vw; height: 95vh">
      <%= link_to "更新", root_path, class: "btn btn-primary btn-block" %>
      <div class="works">
        <%= render 'public/works/index', works: @works %>
      </div>
    </div>
  </div>
      <div style="position: absolute; bottom: 0; left: 46%;" id="chatter-btn">
        <button type="button" class="btn btn-primary rounded-circle mb-4" data-toggle="modal" data-target="#chatter-modal">
          <i class="fa-regular fa-comment-dots"></i>
        </button>
      </div>
      <div style="position: absolute; bottom: 0; right: 0;" id="work-btn">
        <button type="button" class="btn btn-primary rounded-circle mb-4 mr-4" data-toggle="modal" data-target="#work-modal">
          <i class="fa-solid fa-pen-fancy"></i>
        </button>
      </div>
</div>

<!--chatter modal-->
<%= render 'public/chatters/modal', chatter: @chatter %>

<!--work modal-->
<%= render 'public/chatters/modal', work: @work %>
