<% if chatters.blank? %>
  <p>データはありません</p>
<% else %>
  <% chatters.each do |chatter| %>
      <div class="row">
        <div class="row">
          <% if chatter.replying.exists? %>
            <%= link_to chatter_path(chatter.replied_chatter(chatter)) do %>
              <p>Reply to <%= chatter.replied_chatter(chatter).user.name %></p>
            <% end %>
          <% end %>
        </div>
        <div class="col-2">
          <%= link_to user_path(chatter.user) do %>
            <%= image_tag chatter.user.get_profile_image(50, 50) %>
          <% end %>
          <% if chatter.user == current_user %>
            <%= link_to chatter_path(chatter), method: :delete, remote: true, class: "btn btn-sm btn-danger", data: { confirm: "削除しますか？" } do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          <% end %>
        </div>
        <div class="col-9">
          <p>
            <%= chatter.user.name %>
            <%= chatter.created_at.strftime('%Y/%m/%d %H:%M') %>
          </p>
          <p><%= raw Rinku.auto_link(h(safe_join(chatter.body.split("\n"),tag(:br)))) %></p>
          <div class="row">
            <div class="text-muted" style="cursor: pointer;" data-toggle="modal" data-target="#reply-modal_<%= chatter.id %>">
              <i class="fa-solid fa-reply"></i><%= chatter.reply_to_chatters.count %>
            </div>
            <i class="fa-solid fa-bullhorn"></i><%= chatter.rechatters.count %>
            <div class="chatter-favorite-btn_<%= chatter.id %>">
              <%= render 'public/chatter_favorites/favorite-btn', chatter: chatter %>
            </div>
          </div>
        </div>
      </div>

      <!--reply modal-->
      <%= render 'public/replies/modal', reply_to: chatter %>
  <% end %>
<% end %>