<% if chatters.blank? %>
  <p>データはありません</p>
<% else %>
  <% chatters.each do |chatter| %>
      <div class="row">
        <div class="col-2">
          <%= link_to user_path(chatter.user) do %>
            <%= image_tag chatter.user.get_profile_image(50, 50) %>
          <% end %>
          <% if chatter.user == current_user %>
            <%= link_to chatter_path(chatter), method: :delete, remote: true, class: "btn btn-sm btn-danger", data: { confirm: "削除しますか？" } do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          <% end %>
        </div>
        <div class="col-9">
          <p>
            <%= chatter.user.name %>
            <%= chatter.created_at.strftime('%Y/%m/%d %H:%M') %>
          </p>
          <p><%= raw Rinku.auto_link(h(safe_join(chatter.body.split("\n"),tag(:br)))) %></p>
          <div class="row">
            <i class="fa-solid fa-reply"></i><%#= chatter.replies.count %>
            <i class="fa-solid fa-bullhorn"></i><%= chatter.rechatters.count %>
            <i class="fa-solid fa-star"></i><%= chatter.chatter_favorites.count %>
          </div>
        </div>
      </div>
  <% end %>
<% end %>