<div class="container p-3">
  <div class="row d-flex justify-content-center mx-1">
    <div class="col-3 d-flex justify-content-center align-items-end">
      <%= image_tag @user.profile_image, class: "rounded", style: "object-fit: cover; width: 100%;" %>
    </div>
    <div class="col-9">
      <h3><%= @user.name %></h3>
      <% if @user.is_public == true %>
        <p class="text-muted">
          public <i class="fa-solid fa-lock-open"></i>
        </p>
      <% else %>
        <p class="text-muted">
          private <i class="fa-solid fa-lock"></i>
        </p>
      <% end %>
      <% if @user.is_active == true %>
        <p class="text-muted">有効なアカウントです</p>
      <% else %>
        <p class="text-muted">退会済みのアカウントです</p>
      <% end %>
      <div class="d-flex justify-content-between">
        <div>
          <%= link_to followings_user_relationships_path(@user) do %>
            <span class="m-1">
              <%= render "public/relationships/followings-count", user: @user %>
            </span>
          <% end %>
          <%= link_to followers_user_relationships_path(@user) do %>
            <span class="m-1">
              <%= render "public/relationships/followers-count", user: @user %>
            </span>
          <% end %>
        </div>
          <%= link_to edit_admin_user_path(@user), class: "btn btn-outline-success ml-3" do %>
            <i class="fa-solid fa-user-pen"></i>
          <% end %>
      </div>
    </div>
  </div>

  <div class="col-12 mx-auto m-3">
    <p><%= raw Rinku.auto_link(h(safe_join(@user.introduction.split("\n"),tag(:br)))) %></p>
  </div>

  <div class="col-12">
    <!-- タブ -->
    <ul class="nav nav-tabs nav-fill d-none d-md-flex">
      <li class="nav-item">
        <a href="#chatters" class="nav-link active" data-toggle="tab">
          <%= @user.chatters_count %> Chatters
        </a>
      </li>
      <li class="nav-item">
        <a href="#works" class="nav-link" data-toggle="tab">
          <%= @user.works_count %> Works
        </a>
      </li>
      <li class="nav-item">
        <a href="#chatter-favorites" class="nav-link" data-toggle="tab">
          <%= @user.chatter_favorites_count %> Chatter Favorites
        </a>
      </li>
      <li class="nav-item">
        <a href="#work-favorites" class="nav-link" data-toggle="tab">
          <%= @user.work_favorites_count %> Works Favorites
        </a>
      </li>
    </ul>

    <!-- セレクトボックス -->
    <select class="form-control nav-select d-md-none">
        <option value="#chatters">Chatters</option>
        <option value="#works">Works</option>
        <option value="#chatter-favorites">Chatter Favorites</option>
        <option value="#work-favorites">Works Favorites</option>
    </select>
    <script>
      $('.nav-select').on('change', function(e) {
        var id = $(this).val();
        $('a[href="' + id + '"]').tab('show');
      });
    </script>

    <!-- タブの中身 -->
    <div class="tab-content">
      <div id="chatters" class="tab-pane active">
        <div class="chatters">
          <%= render 'admin/users/chatters', chatters: @chatters %>
        </div>
        <%= link_to_next_page @chatters, 'もっと見る', params: { type: :chatter }, remote: true, class: 'btn btn-outline-success btn-block more-link', id: 'more-chatter' %>
      </div>
      <div id="works" class="tab-pane">
        <div class="works">
          <%= render 'admin/users/works', works: @works %>
        </div>
        <%= link_to_next_page @works, 'もっと見る', params: { type: :work }, remote: true, class: 'btn btn-outline-success btn-block more-link', id: 'more-work' %>
      </div>
      <div id="chatter-favorites" class="tab-pane">
        <div id="chatter-favorites-paginate">
          <%= render 'admin/users/chatter_favorites', chatter_favorites: @chatter_favorites %>
        </div>
        <%= link_to_next_page @chatter_favorites, 'もっと見る', params: { type: :chatter_favorite }, remote: true, class: 'btn btn-outline-success btn-block more-link', id: 'more-chatter_favorite' %>
      </div>
      <div id="work-favorites" class="tab-pane">
        <div id="work-favorites-paginate">
          <%= render 'admin/users/work_favorites', work_favorites: @work_favorites %>
        </div>
        <%= link_to_next_page @work_favorites, 'もっと見る', params: { type: :work_favorite }, remote: true, class: 'btn btn-outline-success btn-block more-link', id: 'more-work_favorite' %>
      </div>
    </div>

  </div>
</div>