<div class="container p-3">
  <div class="row d-flex justify-content-center">
    <div class="col-2">
      <%= image_tag @user.get_profile_image(150, 150) %>
    </div>
    <div class="col-4">
      <h3><%= @user.name %></h3>
      <p>メールアドレス：<%= @user.email %></p>
      <p>公開ステータス：<%= @user.is_public %></p>
      <p>会員ステータス<%= @user.is_active %></p>
    </div>
  </div>
  <div class="col-6 mx-auto">
    <p><%= @user.introduction %></p>
  </div>
  
</div>