<% notifications.each do |notification| %>
  <% visitor = notification.visitor %>
  <% visited = notification.visited %>
  <div class="col-md-12 mx-auto notification-container">
    <div class="notification-box d-flex align-items-center">
      <div class="notification-icon">
        <%= link_to user_path(visitor), data: { turbolinks: false } do %>
          <%= image_tag visitor.get_profile_image(40, 40), class: 'rounded mr-3' %>
        <% end %>
      </div>

      <!-- 通知の種類に応じて表示内容を切り替え -->
      <% case notification.action
      when 'follow' then %>
        <span>
          <%= link_to user_path(notification.visitor), class: "text-light" do %>
            <strong><%= visitor.name %></strong>
          <% end %>
          さんがあなたをフォローしました
        </span>

      <% when 'receive_follow_request' then %>
        <span>
          <%= link_to user_path(notification.visitor), class: "text-light" do %>
            <strong><%= visitor.name %></strong>
          <% end %>
          さんからフォローリクエストが届きました
        </span>

      <% when 'allow_follow_request' then %>
        <span>
          <%= link_to user_path(notification.visitor), class: "text-light" do %>
            <strong><%= visitor.name %></strong>
          <% end %>
          さんへのフォローリクエストが承認されました
        </span>

      <% when 'favorite_work' then %>
        <span>
          <%= link_to user_path(notification.visitor), class: "text-light" do %>
            <strong><%= visitor.name %></strong>
          <% end %>
          さんが
          <%= link_to work_path(notification.work), class: "text-light" do %>
            <strong><%= truncate(notification.work.title, length: 10) %>...</strong>
          <% end %>
          のWorkにいいねしました
        </span>


      <% when 'favorite_chatter' then %>
        <div>
          <span>
            <%= link_to user_path(notification.visitor), class: "text-light" do %>
              <strong><%= visitor.name %></strong>
            <% end %>
            さんがあなたのChatterにいいねしました
          </span>
          <p class="text-muted"><%= truncate(notification.chatter.body, length: 50) %></p>
        </div>

      <% when 'rechatter' then %>
        <div>
          <span>
            <%= link_to user_path(notification.visitor), class: "text-light" do %>
              <strong><%= visitor.name %></strong>
            <% end %>
            さんがあなたのChatterをRechatterしました
          </span>
          <p class="text-muted"><%= truncate(notification.chatter.body, length: 50) %></p>
        </div>


      <% when 'reply' then %>
        <div>
          <span>
            <%= link_to user_path(notification.visitor), class: "text-light" do %>
              <strong><%= visitor.name %></strong>
            <% end %>
            さんがあなたにリプライしました
          </span>
          <p class="text-muted"><%= truncate(notification.chatter.body, length: 50) %></p>
        </div>

      <% when 'comment' then %>
        <div>
          <span>
            <%= link_to user_path(notification.visitor), class: "text-light" do %>
              <strong><%= visitor.name %></strong>
            <% end %>
            さんが
            <%= link_to work_path(notification.work), class: "text-light" do %>
              <strong><%= truncate(notification.work.title, length: 10) %>...</strong>
            <% end %>
            のWorkにコメントしました
          </span>
          <p class="text-muted">
            <%= truncate(notification.comment.body, length: 50) %>
            <% if notification.comment.body.length > 50 %>...<% end %>
          </p>
        </div>



      <% end %>

    </div>
    <div class="small text-muted text-right">
      <%= time_ago_in_words(notification.created_at).upcase %>前
    </div>
  </div>
<% end %>