<div class="container p-3">
  <div class="col-12 text-center pb-5">
    <%= image_tag 'Logo.png', class: "m-5", style: "height: 60px; max-width: 90%;" %><br>
    <p class="alert alert-light d-inline-block w-50">
      クリエイターとそのファンのための<br>
      イラスト投稿×日常と思いのシェアSNS
    </p>
  </div>
  <div class="col-12 my-3">
    <h2>Log in</h2>
    <%= render 'layouts/error', obj: @user %>
    <%= form_with model: @user, url: user_session_path do |f| %>
      <table class="table table-borderless mb-1">
        <tr>
          <td class="text-light"><%= f.label :email, "メールアドレス" %></td>
          <td><span class="text-muted necessary-field p-1 px-2 ml-2 small rounded">必須</span></td>
          </td>
          <td><%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", class:"form-control w-90" %></td>
        </tr>
        <tr>
          <td class="text-light"><%= f.label :password, "パスワード" %></td>
          <td><span class="text-muted necessary-field p-1 px-2 ml-2 small rounded">必須</span></td>
          <td><%= f.password_field :password,  class:"form-control w-90" %></td>
        </tr>
      </table>
      <div class="text-right">
        <%= f.submit "Log in", class: "btn btn-outline-success" %>
      </div>
    <% end %>
  </div>

  <div class="col-12">
    <h4>初めてご利用の方</h4>
    <div class="m-3">
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-success m-1", 'data-turbolinks': false %>
      <%= link_to "Guest log in", users_guest_sign_in_path, class: "btn btn-outline-success m-1", method: :post, 'data-turbolinks': false %>
    </div>
  </div>
</div>

