<% if favorites.exists? %>
  <table class="table text-light m-2">
    <thead>
      <tr>
        <th>User</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% favorites.each do |favorite| %>
        <tr>
          <td class="align-middle">
            <%= link_to user_path(favorite.user) do %>
              <%= image_tag favorite.user.get_profile_image(50, 50) %>
            <% end %>
          </td>
          <td class="align-middle"><%= favorite.user.name %></td>
          <td class="align-middle">
            <% unless favorite.user == current_user %>
              <div class="follow-btn_<%= favorite.user.id %>">
                <%= render "public/relationships/follow", user: favorite.user %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>