<table class="table text-light m-3">
  <thead>
    <tr>
      <th>ユーザー</th>
      <th>名前</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image(50, 50) %>
          <% end %>
        </td>
        <td><%= user.name %></td>
        <td>
          <% unless user == current_user %>
            <div class="follow-btn_<%= user.id %>">
              <%= render "public/relationships/follow", user: user %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
