<% if rechatters.exists? %>
  <table class="table text-light m-2">
    <thead>
      <tr>
        <th>User</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% rechatters.each do |rechatter| %>
        <% if rechatter.user.is_public == true || current_user.following?(rechatter.user) || rechatter.user == current_user %>
          <tr>
            <td class="align-middle">
              <%= link_to user_path(rechatter.user) do %>
                <%= image_tag rechatter.user.get_profile_image(50, 50), class: "rounded" %>
              <% end %>
            </td>
            <td class="align-middle"><%= rechatter.user.name %></td>
            <td class="align-middle">
              <% unless rechatter.user == current_user %>
                <div class="follow-btn_<%= rechatter.user.id %>">
                  <%= render "public/relationships/follow", user: rechatter.user %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="alert alert-dark">ユーザーはいません</p>
<% end %>