<div class="container p-3">
  <div class="row mx-auto">
    <div class="col-12">

      <h1>User Edit</h1>
      <%= render 'layouts/error', obj: @user %>
      <%= form_with model: @user, method: :patch do |f| %>
        <table class="table table-borderless text-light">
          <tr>
            <td>Name</td>
            <td><%= f.text_field :name, class: "form-control w-90" %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= f.email_field :email, class: 'form-control w-90' %></td>
          </tr>
          <tr>
            <td>Introduction</td>
            <td><%= f.text_area :introduction, class: "form-control w-90" %></td>
          </tr>
          <tr>
            <td>Public Status</td>
            <td>
              <%= f.radio_button :is_public, true %>
              <%= f.label :is_public_true, "公開" %>
              <%= f.radio_button :is_public, false %>
              <%= f.label :is_public_false, "非公開" %>
            </td>
          </tr>
        </table>
        <%= f.submit "Update", class: "btn btn-outline-success" %>
      <% end %>

      <h3 class="pt-5">Delete Account</h3>
      <%= link_to "手続きに進む", confirm_users_path, class: "btn btn-danger" %>

    </div>
  </div>
</div>