<div class="container p-3">
  <div class="row d-flex justify-content-center">
    <div class="col-2">
      <%= image_tag @user.get_profile_image(150, 150) %>
    </div>
    <div class="col-4">
      <h3><%= @user.name %></h3>
      <p>公開ステータス：<%= @user.is_public %></p>
      <p>
        <%= link_to followings_user_relationships_path(@user) do %>
          <%= @user.followings.count %>フォロー
        <% end %>
        <%= link_to followers_user_relationships_path(@user) do %>
          <%= @user.followers.count %>フォロワー
        <% end %>
        <% if @user == current_user %>
          <%= link_to "Edit" ,edit_user_path(@user), class: "btn btn-primary ml-3" %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="col-6 mx-auto">
    <p><%= raw Rinku.auto_link(h(safe_join(@user.introduction.split("\n"),tag(:br)))) %></p>
  </div>
  <div class="col-12">
    <!-- タブ -->
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a href="#chatters" class="nav-link active" data-toggle="tab">Chatters</a>
      </li>
      <li class="nav-item">
        <a href="#works" class="nav-link" data-toggle="tab">Works</a>
      </li>
      <li class="nav-item">
        <a href="#chatter-favorites" class="nav-link" data-toggle="tab">Chatter Favorites</a>
      </li>
      <li class="nav-item">
        <a href="#work-favorites" class="nav-link" data-toggle="tab">Works Favorites</a>
      </li>
    </ul>

    <!-- タブの中身 -->
    <div class="tab-content">
      <div id="chatters" class="tab-pane active">
        <%= render 'public/chatters/index', chatters: @user.chatters %>
      </div>
      <div id="works" class="tab-pane">
        <%= render 'public/works/index', works: @user.works %>
      </div>
      <div id="chatter-favorites" class="tab-pane">
        <%= render 'public/chatter_favorites/index', chatter_favorites: @user.chatter_favorites %>
      </div>
      <div id="work-favorites" class="tab-pane">
        <%= render 'public/work_favorites/index', work_favorites: @user.work_favorites %>
      </div>
    </div>

  </div>
</div>