<header class="sticky-top border-bottom border-secondary bg-default">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <%= link_to root_path do %>
        <%= image_tag 'Logo.png', class: "navbar-brand logo-location" %>
      <% end %>
      <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto my-2 list-unstyled">
          <li class="nav-item mx-2 mt-1">
            <%= render 'public/searches/form' %>
          </li>
          <% if user_signed_in? %>
            <% if admin_signed_in? %>
              <li class="nav-item mx-2 mt-1">
                <%= link_to user_path(current_user), class: "text-decoration-none text-white" do %>
                  <%= image_tag current_user.get_profile_image(30, 30), class: "rounded" %>
                <% end %>
              </li>

              <li class="nav-item mx-2 mt-1">
                <div class="bell-container mr-3">
                  <a href="javascript:void(0)" id="notifications-link" class="text-white">
                    <% if unchecked_notifications.any? %>
                      <span class="fa-stack" style="vertical-align: middle; width: 0; height: 0;">
                        <i class="far fa-bell fa-lg fa-stack-2x text-light" style="font-size: 1.5em;"></i>
                          <i class="fas fa-circle n-circle fa-stack-1x text-green fa-sm" style="top: -0.5em; left: 1em;"></i>
                      </span>
                    <% else %>
                      <i class="far fa-bell fa-lg" style="font-size: 1.5em;"></i>
                    <% end %>
                  </a>
                </div>
              </li>

              <li class="nav-item mx-2 mt-1">
                <i class="fa-solid fa-users"></i>
                <%= link_to "Users", admin_root_path, class: "text-decoration-none text-white" %>
              </li>
              <li class="nav-item mx-2 mt-1">
                <i class="fa-solid fa-right-from-bracket"></i>
                <%= link_to "User Log out", destroy_user_session_path, method: :delete, class: "text-decoration-none text-white" %>
              </li>
              <li class="nav-item mx-2 mt-1">
                <i class="fa-solid fa-right-from-bracket"></i>
                <%= link_to "Admin Log out", destroy_admin_session_path, method: :delete, class: "text-decoration-none text-white" %>
              </li>
            <% else %>
              <li class="nav-item mx-2 mt-1">
                <%= link_to user_path(current_user), class: "text-decoration-none text-white" do %>
                  <%= image_tag current_user.get_profile_image(30, 30), class: "rounded" %>
                <% end %>
              </li>

              <li class="nav-item mx-2 mt-1">
                <div class="bell-container mr-3">
                  <a href="javascript:void(0)" id="notifications-link" class="text-white">
                    <% if unchecked_notifications.any? %>
                      <span class="fa-stack" style="vertical-align: middle; width: 0; height: 0;">
                        <i class="far fa-bell fa-lg fa-stack-2x text-light" style="font-size: 1.5em;"></i>
                          <i class="fas fa-circle n-circle fa-stack-1x text-green fa-sm" style="top: -0.5em; left: 1em;"></i>
                      </span>
                    <% else %>
                      <i class="far fa-bell fa-lg" style="font-size: 1.5em;"></i>
                    <% end %>
                  </a>
                </div>
              </li>

              <li class="nav-item mx-2 mt-1">
                <i class="fa-solid fa-lightbulb"></i>
                <%= link_to "About", about_path, class: "text-decoration-none text-white" %>
              </li>
              <li class="nav-item mx-2 mt-1">
                <i class="fa-solid fa-right-from-bracket"></i>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "text-decoration-none text-white" %>
              </li>
            <% end %>
          <% elsif admin_signed_in? %>
            <li class="nav-item mx-2 mt-1">
              <i class="fa-solid fa-users"></i>
              <%= link_to "Users", admin_root_path, class: "text-decoration-none text-white" %>
            </li>
            <li class="nav-item mx-2 mt-1">
              <i class="fa-solid fa-right-from-bracket"></i>
              <%= link_to "Admin Log out", destroy_admin_session_path, method: :delete, class: "text-decoration-none text-white" %>
            </li>
          <% else %>
            <li class="nav-item mx-2 mt-1">
              <i class="fa-solid fa-lightbulb"></i>
              <%= link_to "About", about_path, class: "text-decoration-none text-white" %>
            </li>
            <li class="nav-item mx-2 mt-1">
              <i class="fa-solid fa-right-to-bracket"></i>
              <%= link_to "Log in", new_user_session_path, class: "text-decoration-none text-white" %>
            </li>
            <li class="nav-item mx-2 mt-1">
              <i class="fa-solid fa-user-pen"></i>
              <%= link_to "Sign up", new_user_registration_path, class: "text-decoration-none text-white" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="mb-1" style="height: 2px; background-color: #7ED957"></div>

  <!-- 通知一覧を表示するモーダルウィンドウ -->
  <div id="notifications-modal" class="modal-not-bs">
    <div class="common-modal-content"></div>
  </div>

</header>