<!DOCTYPE html>
<html>
  <head>
    <title>ChatterWorks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0fb1231c25.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-white">
    <%= render 'layouts/header' %>
    <main style="background-color: #373737;">
      <div class="flash-message">
        <%= render 'layouts/flash' %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
